<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Exposición
        link(rel="stylesheet", href="css/estilos.css")
        <script src="//cdnjs.cloudflare.com/ajax/libs/annyang/2.6.0/annyang.min.js"></script>
    body
        .wrap
            #arrow-left.arrow
                //- p &#60;
            #slider
                .slide.slide1
                    .slide-content
                        span Image One

                .slide.slide2
                    .slide-content
                        span Image Two

                .slide.slide3
                    .slide-content
                        span Image Three

                .slide.slide4
                    .slide-content
                        span Image Four
            #arrow-right.arrow
                //- p &#62;

        <div class="moviles">
        <h1 class="titulo">Aplicación Quiz</h1>
            <div class="d_inicio">
                <h1>Cultura General <span>Quiz</span></h1>
                <h2>Bienvenido</h2>
                <p>Este juega ha sido creado para poner a prueba tus conocimientos. <br></p>
                <p>Empieza este juego y diviértete.</p>
                <a href="#" class="btn_empezar">Empezar</a>
            </div>
        <div class="d_pregunta">
            <header class="header">
                <div>
                    <p class="num_pregunta">Pregunta <span>00</span></p>
                </div>
                <div>
                    <p class="num_tiempo">Tiempo <br> <span>00 <span class="dbl_punto">:</span> 00</span></p>
                </div>
            </header>

            <h3>Tu pregunta es:</h3>

            <p class="pregunta">Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat quia qui maxime mollitia, impedit neque!</p>

            <div class="respuestas">
                <div>
                    <input type="radio" name="res" id="respuesta1">
                    <label for="respuesta1">Respuesta 1</label>
                </div>
                <div>
                    <input type="radio" name="res" id="respuesta2">
                    <label for="respuesta2">Respuesta 2</label>
                </div>
                <div>
                    <input type="radio" name="res" id="respuesta3">
                    <label for="respuesta3">Respuesta 3</label>
                </div>
            </div>

            <div class="siguiente">
                <a href="#">Siguiente</a>
            </div>

            <p class="puntuacion">Puntuacion <span>000</span></p>
        </div>
        <div class="d_final">
            <h1>Felicidades</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Etassumenda.</p>
            <h3>Tu puntucion fue de:</h3>
            <p class="final_puntos">000</p>
            <div class="botones">
                <a href="#">Inicio</a>
                <a href="#">Repetir</a>
            </div>
            <div class="final_gracias">
                <p class="gracias" data-text="Gracias por jugar!"> Gracias por jugar!</p>
                //- <!-- <span></span>
                //- <span></span>
                //- <span></span>
                //- <span></span> -->
            </div>
        </div>
        </div>
        script(src="scripts/scripts.js")
