<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Exposición
        link(rel="stylesheet", href="css/estilos.css")
        <script src="//cdnjs.cloudflare.com/ajax/libs/annyang/2.6.0/annyang.min.js"></script>
    body
        .wrap
            #arrow-left.arrow
                //- p &#60;
            #slider
                .slide.slide1
                    .slide-content
                        span Image One

                .slide.slide2
                    .slide-content
                        span Image Two

                .slide.slide3
                    .slide-content
                        span Image Three

                .slide.slide4
                    .slide-content
                        span Image Four
            #arrow-right.arrow
                //- p &#62;
    script(src="scripts/scripts.js")
